@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-decoration: none;
}

html {
    background: url(../Vista/img/fondo2.jpg) no-repeat left fixed; 
    background-size: 1366px 768px;
    background-color: #F0F0F0;
    -webkit-background-size: fixed left;
    -moz-background-size: fixed left;
    -o-background-size: fixed left;
    background-size: fixed left;
    font-family: 'Raleway', sans-serif;
}
.container, .container-2 {   
    margin: 0;
    position: absolute;
    top: 35%;
    right: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;   
    background-color: rgba(255, 255, 255, 0.747); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px;
    height: 220px;
    width: 450px;
    font-size: 10px;
}


nav ul li .prestamos {
	font-weight: 600;			
}

.container-2 {   
    top: 75%;
    right: 45%;  
}
.prestamo {
    margin: 25px;
    position: absolute;
    top: 50%;
    left: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px;   
    border-radius: 15px;
    text-align: center;
}

h1, h2 {
    font-size: 16px;
    color: #444444; 
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 35px;
}

h5 {
    color: #44444452;
    font-size: 12px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
#documento, #elemento, #fecha, #hora, #plazo, #fechadevo {
    border-width: 0px;
    background-color: #e4e4e4;
    border-radius: 10px;
    height: 35px;
    width: 340px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #7F7A78; 
}

#aa{
    background-color:  #7cbfab;
    border-width: 0ch;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px 5px #0000001c;
    font-weight: 600;
    transition: 0.5s ease;
}

#aa:hover {
    background-color: #c3a0db;
    text-align: center;
    transform: scale(1.1);
    
}
#aa-6 {
    background-color:  #7cbfab;
    border-width: 0ch;
    border-radius: 10px;
    padding: 8px 8px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px 5px #0000001c;
}




#cedula, #nombre, #apellido, #grupo, #telefono, #id, #estado, #desc, #cant, #tipo {
    background-color: #df151500;
    border-width: 0ch;
    border-radius: 10px;
    text-align: left;
    color: #444444; 
    font-size: 13px;
    height: 18px;
    font-family: 'Raleway', sans-serif;
    
   
}

h3 {
    color: #444444; 
    text-align: left;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

#busqueda, #busq{
    background-color: #df151500;
    border-width: 1px;
    border-radius: 3px;
    text-align: left;
    color: #444444; 
    font-size: 13px;
    height: 18px;
    font-family: 'Raleway', sans-serif;
    border-color: #44444444;
}
#enviar, #env{
    background-color:  #7cbfab00;
    border-width: 0ch;
    border-radius: 3px;
    cursor: pointer;
}