@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin:0px;
	padding:0px;
	box-sizing: border-box;
    text-decoration: none;
}
html {
    background: url(../Vista/img/fondo2.jpg) no-repeat left fixed; 
    background-size: cover;
    background-color: #F0F0F0;
    -webkit-background-size: fixed left;
    -moz-background-size: fixed left;
    -o-background-size: fixed left;
    background-size: fixed left;
    font-family: 'Raleway', sans-serif;
}


nav ul li .consultas {
	font-weight: 600;			
}
.container-3{   
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px; 
    top: 40%;
    left: 42%;
    height: 350px;
    width: 670px;
}

.columnas-1 {
    background-color:#333;
    color: #fff;
}
.columnas-3 {
    background-color:rgba(177, 55, 55, 0);
    color: #fff;
}
table {
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    width: 630px;
    font-size: 15px;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px; 
}
td {
    height:45px;
    width: 120px;
}
.columnas-2:hover {
    background-color: rgb(209, 208, 208);
}

#busqueda {
    text-align: left;
    border-width: 0ch;
    border-radius: 5px;
    height: 24px;
    background-color:#f1efef ;
    font-size: 15px;
}

#enviar{
    background-color:  #7cbfab00;
    border-width: 0ch;
    border-radius: 3px;
    cursor: pointer;
}