@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin:0px;
	padding:0px;
	box-sizing: border-box;
    text-decoration: none;
}
	
html {
    background: url(../Vista/img/fondo2.jpg) no-repeat bottom fixed; 
    background-size: 1366px 768px;
    background-color: #F0F0F0;
    -webkit-background-size: fixed left;
    -moz-background-size: fixed left;
    -o-background-size: fixed left;
    background-size: fixed left;
    display: block;
}

.container-1{   
    margin: 0;
    position: absolute;
    top: 33%;
    right: 68%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;   
    background-color: rgba(255, 255, 255, 0.575); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px;
    height:210px;
    width: 210px;
}

h1 {
    font-size: 15px;
    color: #444444; 
}
.container-3{   
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px; 
    top: 40%;
    left: 58%;
    height: 350px;
    width: 670px;
}

.container-4{   
    margin: 0;
    position: absolute;
    top: 75%;
    right: 57%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1em;   
    background-color: rgba(255, 255, 255, 0.815); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px;
    height: 275px;
    width: 350px;
}
.columnas {
    background-color:#333;
    color: #fff;

    
}

table {
    font-family: 'Raleway', sans-serif;
    width: 760px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.842); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px; 
    border-collapse: collapse;
}
td {
    height:45px;
    width: 125px;
}

.columnas-2:hover {
    background-color: rgb(209, 208, 208);
}

nav{
	width: 100%;
    height: 60px;
    background-color: #333;
    line-height: 60px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
}
nav .logo{
	font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
	float: right;
    color: #fff;
    font-size: 18px;
}
nav ul{
	float: left;
}

nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
    color:#fff;
    font-size: 18px;
    padding: 0px 30px;
    
}
nav ul li a:hover{
	color:rgb(231, 229, 229);
    font-weight: 600;
    
}

nav ul li .consultas {
    font-weight: 600;
    
}
