@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
    margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
	
html {
    background: url(../Vista/img/ini.jpg) no-repeat; 
    background-size: cover;
    background-color: #F0F0F0;
    text-align: center;
  
}


.container-3{   
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px; 
    top: 40%;
    left: 28%;
    height: 350px;
    width: 670px;
}

.columnas {
    background-color:#333;
    color: #fff;
    
}
table {
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    width: 860px;
    font-size: 15px;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0.747); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px; 
    height: 15px;
}
td {
    height:45px;
    width: 125px;
}
.columnas-2:hover {
    background-color: rgb(209, 208, 208);
}

nav ul li .inicio {
	font-weight: 600;			
}

.eliminar {
    background-color:  #7cbfab;
    border-width: 0ch;
    border-radius: 10px;
    padding: 8px 25px;
    cursor: pointer;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.eliminar:hover {
    background-color:  rgb(105, 173, 153);

}
.eliminar2 {
    background-color:  rgb(71, 71, 71);
    border-width: 0ch;
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    }
.eliminar2:hover {
            background-color:  rgb(77, 75, 75);
}