@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    align-items: right; 
    
}

.derecha {
   float: right;
   margin: 0;
}

.centro {
  justify-content: center;
  text-align: center;
} 

.izquierda {
   float: left;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   
}

li {
   display: inline-block;
}

li a {
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}