@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin:0px;
	padding:0px;
	box-sizing: border-box;
    text-decoration: none;
}


html {
    background: url(../Vista/img/b.jpg) no-repeat bottom fixed; 
    background-size: cover;
    background-color: #F0F0F0;
    display: block;
}

.container-1{   
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 16%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 37px 45px;  
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 10px #00000000;
}

nav ul li .usuarios {
	font-weight: 600;			
}

h1 {
    font-size: 24px;
    color: #444444; 
    font-family: 'Raleway', sans-serif;
}
.container-3{   
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 25px; 
    top: 40%;
    left: 55%;
    height: 350px;
    width: 670px;
}

.columnas {
    background-color:#333;
    color: #fff;
}

table {
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    width: 620px;
    font-size: 15px;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0.842); 
    box-shadow: 10px 10px 10px #00000015;
    border-radius: 15px; 
}
td {
    height:45px;
    width: 118px;
}
.columnas-2:hover {
    background-color: rgb(209, 208, 208);
}


#aa-3 {
    background-color: #c3a0db;
    border-width: 0ch;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    box-shadow: 5px 5px 5px #0000001c;
    font-weight: 600;
    transition: 0.5s ease;
}

#aa-3:hover {
    background-color: #7cbfab;
    transform: scale(1.1);
}

#cedula, #nombre, #apellido, #grupo, #telefono {
    background-color: #e4e4e4;
    border-width: 0ch;
    border-radius: 5px;
    text-align: center;
    color: #7F7A78;  
    font-size: 14px;
    height: 30px;
    width: 240px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px 2px 2px #00000000;  
}

.eliminar, .editar {
    background-color:  #7cbfab;
    border-width: 0ch;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    
}
.editar {
    background-color: #ebd576;
    padding: 8px 25px;
    
}
.eliminar:hover {
    background-color:  rgb(105, 173, 153);

}
.editar:hover{
    background-color:rgb(223, 204, 119);
}
.eliminar2 {
background-color:  rgb(71, 71, 71);
border-width: 0ch;
border-radius: 10px;
padding: 8px 30px;
cursor: pointer;
color: white;
font-family: 'Raleway', sans-serif;
font-weight: 600;
}
.eliminar2:hover {
    background-color:  rgb(77, 75, 75);
}